# Firebase Web App configuration for Nitra Chat
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyAHyMPD2Wo5bYlZ5mu2zOoUU0nUAaC7tsY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=nitra-chat-3fd77.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=nitra-chat-3fd77
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=nitra-chat-3fd77.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=492110163096
NEXT_PUBLIC_FIREBASE_APP_ID=1:492110163096:web:3a1d036fb07e7362be34ed
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-HXWYQXNMRB
